/* rem and em do not depend on html font-size in media quries!
Instead 1rem = 1em = 16px
rem = root font size
em = current font size
1350/16 =84
1200/16 =75
 */

/* ************************* */
/* below 1344px (smaller desktop) */
/* ************************* */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ************************* */
/* below 1200px (landscape Tablets) */

/* ************************* */

@media (max-width: 75em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

/* font sizes 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
/* spacing system 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128   */
